.footer-content {
    vertical-align: top;
    text-align: center;
}

.footer-content a {
    color: white;
    font-size: 18px;
    font-family: Arial;
    width: 200px;
    height: 150px;
}

.footer-content a:hover {
    color: cyan;
}

.copyright-footer {
    border-top: 1px solid grey;
    text-align: center;
    background: rgb(73, 73, 73);
    color: white;
    font-family: Arial;
    font-size: 20px;
}

.copyright-footer a {
    color: cyan;
}

.copyright-footer a:hover {
    color: lime;
}